/*Diijone Mehmeti
styles.css sheet
*/

body {
    background-color: #f0f0f0;
    font-family: 'Lobster', cursive;
}

div {
    background-color: lightgray;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

p:first-of-type {
    text-align: center; 
    margin-bottom: 20px;
}

p{
    text-align: justify;
    line-height: 1.5;
    font-family: 'Fredoka One', cursive;
    color: #333;
    font-size: 18px;
}

nav li {
    display: inline;
    margin-right: 20px;
    color: #fff;
    font-size: 18px;
}


main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.image-gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.image-gallery img {
    width: 30%;
    border-radius: 10px;
    height: 300px;
}

.video-container {
    text-align: center;
    margin: 10px auto;
    background-color: rgba(211, 211, 211, 0.5); 
    padding: 5px;
    width: 15cm;
}

footer {
    background-color: #457b9d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

table {
    width: 100%;
    margin-top: 20px;
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
    border: 1px solid #ddd;
    border-style: dashed;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color:#457b9d;
    color: #fff;
}

h2{
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: 'Fredoka One', cursive;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

.header {
    background-image: url('snowflakes.jpg');
    background-size: cover;
    background-position: center;
    height: 150px; 
    text-align: center;
    padding-top: 100px; 
    
}

.header h1 {
    font-size: 36px;
    font-family: 'Arial', cursive; 
}

.header nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}